spring:
  application:
    name: ledger-service

  datasource:
    url: jdbc:postgresql://localhost:5432/ledger
    username: ledger
    password: ledger
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080
